.avatar {
    opacity: 1;
}

.profile-edit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 62.5vw;
    height: fit-content;
}

.profile-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    width: 100%;
    height: fit-content;
    background: #FFFFFF;
    border: 1px solid #CDCED2;
    border-radius: 10px;
}

.profile-card-edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: fit-content;
}

.profile-card-text {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    color: #060A1D;
}

.profile-card-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #583B53;
    border-radius: 190px;
    cursor: pointer;
}

.profile-card-button p {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vh;
    word-wrap: nowrap;
    color: #583B53;
}

.profile-card-button img {
    width: 20px;
    height: 20px;
}

.profile-card-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 100%;
    height: fit-content;
}

.profile-card-me h1 {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #060A1D;
}

.profile-card-me p {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #060A1D;
}

.profile-card-me p {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #060A1D;
}

.profile-card-img {
    position: relative;
    width: 10.5vh;
    height: 10.5vh;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}


.profile-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 14px;
    gap: 24px;
    width: 100%;
    height: fit-content;
    background: #FFFFFF;
    border: 1px solid #CDCED2;
    border-radius: 10px;
}

.profile-info-edit-settings {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: fit-content;
}

.input-edit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 70%;
}

.profile-info-edit-settings p {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vh;
    white-space: nowrap;
    color: #727272;
}

.profile-info-edit-settings div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 100%;
}

.profile-info-edit-settings div div button {
    background-color: none;
    border: none;
    background: none;
}

.profile-info-edit-settings div div input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    width: 21.74vw;
    background: #FFFFFF;
    border: 1px solid #81818E;
    border-radius: 10px;
    color: #81818E;
    outline: none;
}


.profile-pidpus {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    width: 100%;
    height: fit-content;
    background: #FFFFFF;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    margin-bottom: 30px;
}

.profile-pidpus-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.profile-pidpus-name h1 {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vh;
    color: #060A1D;
}

.profile-pidpus-name-check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.profile-pidpus-name-check p {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vh;
    text-align: center;
    color: #583B53;
    opacity: 0.5;
}

.profile-pidpus-name-check button img {
    color: #FFFFFF;
}


.profile-pidpus-pidpus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.profile-pidpus-pidpus-check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.profile-pidpus-pidpus-check p {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vh;
    text-align: center;
    color: #583B53;
    opacity: 0.5;
}

.profile-pidpus-pidpus-check button img {
    color: #FFFFFF;
}

.profile-pidpus-pidpus-check img {
    color: #FFFFFF;
}
.notedit {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #FFFFFF;
}
.edit {
    display: none;
}
.avatar-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    
}
.change-avatar {
    font-size: 1vw;
    font-weight: 400;
    color: #543C52;
}
.avatar-profile label div p {
    color: #543C52;
}
.avatar-profile label div{
    display: flex;
    gap: 0.5vw;
}
.avatar-profile label div img {
    width: 1vw;
    height: 1vw;
}
.avatar-profile input {
    display: none;
}
.label-avatar{
    display: flex;
    gap: 1vw;
    cursor: pointer;
}
.notediting {
    display: none;
}