@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimPro-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimPro-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimPro-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GT Walsheim Pro;
    font-weight: 400;
}

.logo-image {
    width: 7vw;
}

body{
    background-color: #E9E5EE;
}

header{
    background-color: #FFFFFF;
    text-align: center;
    padding: 1.6vh;
    margin-bottom: 2.2vh;
    width: 100vw;
    height: 5vh;
}
.laptop-phone {
    position: absolute;
    width: 27vw;
    right: 0;
    top: 20vh;
    transform: translate(0, -20vh);
    z-index: 0;
}

.form-img {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-35vh, -20vh);
    display: flex;
    width: 48vw;
}

form{
    background-color: #FFFFFF;
    text-align: center;
    width: 25vw;
    padding: 1.8vh;
    border-radius: 0.6vh;
    display: flex;
    flex-direction: column;
    gap: 1.3vh;
    z-index: 1;
}

.reg-inputs {
    gap: 1.3vh;
    padding: 1.8vh;
}

.password-confirm-eye {
    align-content: center;
}

.password-eye {
    align-content: center;
}

.eye {
    width: 2vh;
    height: 2vh;
}

.type-form{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ece5e5;
    padding-bottom: 0.8vh;
}

.type-form span, .type-form a {
    color: #495057;
    text-decoration: none;
    font-size: 3vh;
}

.type-form span {
    color: #212529;
    font-weight: 600;
    text-decoration: underline;
}

h2 {
    font-size: 1.5vh;
    font-weight: 400;
    color: #212529;
    text-align: center;
    font-weight: 500;
}


input {
    width: 100%;
    padding: 0.8vh 0.9vh;
    border: 0.1vh solid #ced4da;
    border-radius: 0.3vh;
    font-size: 0.9vh;
    padding-left: 0.87vh;
}

button{
    background-color: #543C52;
    color: white;
    border: none;
    border-radius: 1.1vh;
    font-size: 1.7vh;
    font-weight: 500;
    padding: 0.8vh;
    margin-top: 0.3vh;
    width: 100%;
    cursor: pointer;
}

label {
    font-size: 1.7vh;
}

p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 1.6vh;
}
.or-qrcode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2vh;

}
.or-qrcode img{
    width: 10vh;
    height: 10vh;
}

.qrcode-text{
    display:  flex;
    align-items: center;
    gap: 0.9vh;
}


.qrcode-text div{
    width: 4.2vh;
    height: 0px;
    border: 0.1vh #81818D solid;
}

a {
    text-decoration: none;
}