@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimPro-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimPro-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimPro-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GT Walsheim Pro;
    font-weight: 400;
}

body{
    background-color: #E9E5EE;
}

header{
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4vw;
}
header img {
    width: 8vw;
}
.laptop-phone {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18.3vw;
    width: 38vw;
    z-index: 0;
}


form{
    background-color: #FFFFFF;
    text-align: center;
    width: 26vw;
    padding: 1.5vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21.8vw;
    gap: 1.4vw;
    z-index: 1;
}
.type-form{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1vw solid #ece5e5;
    padding-bottom: 1vh;
}

.type-form span, .type-form a {
    color: #495057;
    text-decoration: none;
    font-size: 1.8vw;
}

.type-form span {
    color: #212529;
    font-weight: 600;
    text-decoration: underline;
}

h2 {
    font-size: 1.2vw;
    font-weight: 400;
    color: #212529;
    text-align: center;
    font-weight: 500;
}

label {
    font-size: 0.9vw;
}

input {
    width: 100%;
    padding: 0.7vw 1vw;
    border: 0.1vw solid #ced4da;
    border-radius: 0.5vw;
    font-size: 0.9vw;
}

button{
    background-color: #543C52;
    color: white;
    border: none;
    border-radius: 1.2vw;
    font-size: 0.9vw;
    font-weight: 500;
    padding: 0.7vw;
    margin-top: 0.1vw;
    width: 100%;
    cursor: pointer;
}

p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.or-qrcode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;

}
.or-qrcode img{
    width: 7vw;
    height: 7vw;
}

.qrcode-text{
    display:  flex;
    align-items: center;
    gap: 1vw;
}

.qrcode-text p {
    font-size:0.9vw;
}

.qrcode-text div{
    width: 3vw;
    height: 0px;
    border: 0.1vw #81818D solid;
}

a {
    text-decoration: none;
}