@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimPro-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimPro-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimPro-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GT Walsheim Pro;
    font-weight: 400;
}
body {
    display: flex;
    flex-direction: row;
    overflow-y: none;
    overflow-x: none;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 8vh;
    justify-content: center;
    align-items: center;
    gap: 435px;
    background-color: #ffffff;
    z-index: 4;
}
.logo {
    position: absolute;
    left: 12.5vw;
    height: 1.7vh;
}
.selected {
    background: #E9E5EE;
    border-radius: 0.4vw;
}

nav {
    position: absolute;
    right: 12.5vw;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 1vw;
}

a {
    display: flex;
    text-decoration: none;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 0.4vh 0.4vw;
    border-radius: 0.4vw;
    gap: 0.3vw;
}

a img {
    height: 1.9vh;
}

nav a:hover {
    background-color: #E9E5EE;
    border-radius: 3px;
}

nav a p {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: Medium;
    font-weight: 500;
    font-size: 0.85vw;
    white-space: nowrap;
    align-items: center;

    color: #060A1D;
}
.logout button {
    display: flex;
    width: 5.5vw;
    height: 4vh;
    border-radius: 2vh;
    background: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 0.1vw solid #583B53;
    gap: 0.3vw;
    cursor: pointer;
}
.logout button:hover {
    background-color: #E9E5EE;
}

.logout img {
    height: 1.9vh;
}

.logout p {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8vw;
    color: #583B53;
}

body {
    background-color: #FAF8FF;
    display: flex;
    justify-content: center;
}

.chat-app{
    position: absolute;
    right: 12.52vw;
    width: 75vw;
    height: 80vh;
    top: 9.6vh;
    left: 12.52vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.all-contacts-create-group-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    gap: 1.5vw;
    height: 100%;
}

.create-group-chat {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-group-chat button{
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #543C52;
    border-radius: 5vw;
    cursor: pointer;
    border: none;
    padding: 0.5vw; 
    gap: 0.5vw;
    
}

.create-group-chat button img{
    width: 1.39vw;    

}   

.create-group-chat button p{
    color: white;
    font-weight: 500;
    font-size: 0.85vw;
    letter-spacing: -0.6%;    
}

.all-contacts{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    border: #CDCED2 0.1vw solid;
    border-radius: 0.5vw;
    padding: 16px;
    gap: 24px;
}

.header-contacts{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.header-contacts h2{
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    color: #81818D;
}
.header-contacts img{
    width: 1.15vw;
    height: 1.15vw;
}

.contacts-list{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 16px;
    overflow-y: auto;

}   

.contacts-list::-webkit-scrollbar {
    background-color: #E9E5EE;
    width: 0.5vw;
    border-radius: 0.5vw;
}
.contacts-list::-webkit-scrollbar-thumb {
    background-color: #543C52;
    border-radius: 0.5vw;
}

.contact{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    background-color: #FFFFFF;
    border: none;
}

.contact img{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}

.contact p{
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9vw;
    color: #060A1D;
}
.search {
    width: 100%;
    height: fit-content;
    padding: 10px 16px;
    gap: 0.65vw;
    border: #CDCED2 0.1vw solid;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
}
.search button{
    background: none;
    border: none;
    cursor: pointer;
    width: 1.2vw;
    height: 1.2vw;
}
.search button img{
    width: 100%;
    height: 100%;
}
.search input {
    width: 90%;
    height: 100%;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.7%;
    outline: none;
}

.chat-with-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33vw;
    height: 100%;
    background-color: #ffffff;
    background: #FFFFFF;
    border: 0.069vw solid #CDCED2;
    border-radius: 0.96vw;
}

.chat-with-users-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 33vw;
    height: 100%;
    background-color: #ffffff;
    background: #FFFFFF;
    border: 0.069vw solid #CDCED2;
    padding: 1vw;
    border-radius: 0.96vw;
}

.no-chat {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 1.67vw;
    text-align: center;
    color: #060A1D;
}

.no-chat-buttom {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.16vw;
    text-align: center;
    color: #060A1D;
}
/* 24 */
.messages-and-groups {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0.7vw;
}

.messages-and-groups-inside {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.16vw 0px;
    gap: 1.67vw;
    height: 45vh;
    width: 20vw;
    background: #FFFFFF;
    border: 0.069vw solid #CDCED2;
    border-radius: 0.96vw;
}

.messages-groups-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1vw;
    gap: 1.56vw;
    width: 100%;
}

.messages-groups-header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.messages-and-groups-link {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 0.96vw;
    text-align: center;
    color: #583B53;
}

.messages-groups-header div p {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1vw;
    text-align: center;
    color: #81818E;
    text-wrap: none;
}

.messages-groups-header div img {
    width: 1.1vw;
    height: 1.1vw;
}
