@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimPro-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimPro-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: GT Walsheim Pro;
    src: url(../fonts/GTWalsheimPro-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GT Walsheim Pro;
    font-weight: 400;
}
::-webkit-scrollbar {
    display: none;
}
body {
    overflow-y: none;
    overflow-x: none;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 8vh;
    justify-content: center;
    align-items: center;
    gap: 435px;
    background-color: #ffffff;
    z-index: 4;
}
.logo {
    position: absolute;
    left: 12.5vw;
    height: 1.7vh;
}
.selected {
    background: #E9E5EE;
    border-radius: 0.4vw;
}

nav {
    position: absolute;
    right: 12.5vw;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 1vw;
}

a {
    display: flex;
    text-decoration: none;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 0.4vh 0.4vw;
    border-radius: 0.4vw;
    gap: 0.3vw;
}

a img {
    height: 1.9vh;
}

nav a:hover {
    background-color: #E9E5EE;
    border-radius: 3px;
}

nav a p {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: Medium;
    font-weight: 500;
    font-size: 0.85vw;
    white-space: nowrap;
    align-items: center;

    color: #060A1D;
}
.logout button {
    display: flex;
    width: 5.5vw;
    height: 4vh;
    border-radius: 2vh;
    background: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 0.1vw solid #583B53;
    gap: 0.3vw;
    cursor: pointer;
}
.logout button:hover {
    background-color: #E9E5EE;
}

.logout img {
    height: 1.9vh;
}

.logout p {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8vw;
    color: #583B53;
}

body {
    background-color: #FAF8FF;
    display: flex;
    justify-content: center;
}

.profile {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0.5vh;
    width: 20vw;
    top: 9.6vh;
    transform: translateX(-27.5vw);
}

.me {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0.9vh 0px;
    gap: 2vh;
    width: 20vw;
    background: #FFFFFF;
    border: 0.1vw solid #CDCED2;
    border-radius: 0.6vw;
}

.me-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 1vh;
    width: 100%;
}

.me-image {
    border-radius: 50%;
    position: relative;
    object-fit: cover;
    object-position: center;
}

.profile-image {
    border-radius: 50%;
    width: 5.7vw;
    height: 5.7vw;
    object-fit: cover;
    object-position: center;
}

.profile-status {
    position: absolute;
    right: 0.9vw;
    bottom: 0;
    width: 1.1vw;
    height: 1.1vw;
    background-color: #28a745;
    border: 0.2vw solid #ffffff;
    border-radius: 0.6vw;
}

.me-name {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: Bold;
    font-weight: 900;
    font-size: 2.13vh;
    text-align: center;
    color: #060A1D;
}

.me-tag {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8vh;
    text-align: center;
    color: #060A1D;
}

.me-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.me-info div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 0.3vw;
    width: 9.6vw;
    height: 6.6vh;
}

.me-info-center {
    border-left: 0.1vw solid #CDCED2;
    border-right: 0.1vw solid #CDCED2;
}

.me-info div p {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2vh;
    text-align: center;
    color: #060A1D;
}

.me-info div h1 {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.9vh;
    text-align: center;
    color: #81818E;
}



.invite {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 1.6vh;
    width: 20vw;
    padding: 1vh;
    height: fit-content;
    background: #FFFFFF;
    border: 0.1vw solid #CDCED2;
    border-radius: 0.6vw;
}

.invites-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
}

.invites-text div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.3vh;
    margin: 0 auto;
}

.invites-text a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0px;
    gap: 0.8vh;
    margin: 0 auto;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4vh;
    text-align: center;
    color: #583B53;
}

.invite div p {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2vh;
    text-align: center;
    color: #81818E;
}
.invites-text div img {
    width: 2.4vh;
    height: 2.4vh;
}

.invites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.3vh;
    gap: 1vh;
}

.invites div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 1vh;
    width: 20vh;
}

.invites div div {
    border-radius: 50%;
    width: 5.7vw;
    height: 11vh;
    object-fit: cover;
    object-position: center;
}

.invites div div img {
    position: relative;
    width: 5.5vh;
    height: 5.5vh;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.invites div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0.2vh;
    width: max-content;
    height: fit-content;
}

.invites div div h1 {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2vh;
    color: #060A1D;
}

.invites div div p {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vh;
    color: #81818E;
}



.message {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.8vh;
    gap: 1vh;
    width: 20vw;
    height: fit-content;
    background: #FFFFFF;
    border: 0.1vw solid #CDCED2;
    border-radius: 0.6vw;
}

.messages-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    gap: 1vh;
    width: 100%;
}

.messages-text div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5vh;
    margin: 0 auto;
}

.messages-text a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0px;
    gap: 10px;
    margin: 0 auto;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4vh;
    text-align: center;
    color: #583B53;
}

.message div p {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2vh;
    text-align: center;
    color: #81818E;
}
.messages-text div img {
    width: 2.4vh;
    height: 2.4vh;
}

.messages {
    display: flex;
    /* position: relative; */
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0.8vw;
    gap: 1vh;
}

.message1 {
    width: 100%;
}

.messages div {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 0px;
    gap: 1vh;
}
.name-message {
    position: relative;
    width: 100%;
}

.name-time-message {
    display: flex;
    position: relative;
    width: 100%;
    flex-grow: 1;
}
.name-time-message p {
    position: absolute;
    right: 0.1;
}
.avatar-message {
    width: 100%;
}
.avatar-message {
    width: 5.5vh;
    height: 5.5vh;
}
.avatar-message img {
    position: relative;
    height: 5.5vh;
    width: 5.5vh;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}


.messages div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 0px;
    gap: 0.2vh;
    height: fit-content;
    flex-grow: 1;
}

.messages div div div {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.2vh;
}

.messages div div div h1 {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2vh;
    margin: 0;
    color: #060A1D;
}

.messages div div div p {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1vh;
    margin: 0;
    color: #81818E;
}

.messages div div p {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vh;
    margin: 0;
    color: #81818E;
}
.scroll-div {
    position: absolute;
    top: 9.6vh;
    width: 54.6vw;
    transform: translateX(10.3vw);
    padding-bottom: 24px;
}

