{% extends 'base_chats.html' %}
{% load static %}
<!--  -->
{% block title %}
    Chat
{% endblock %}
<!--  -->
{% block links %}
    <link rel="stylesheet" href="{% static 'chat_app/css/chats.css' %}">
{% endblock %}
<!--  -->
{% block content %}
    <div class="chat-header">
        <div>
            <img src="">
            <h1 class="chat-header-name"></h1>
        </div>
        <img src="{% static 'chat_app/images/Dots.svg' %}">
    </div>
    <div class="chat-content">
        <input type="hidden" id="groupPk" value="1">
        <div id="messages">
            {% for message in messages_history %}
                <div>
                    <p><b>{{ message.author }}: </b>{{ message.content }} (<span class="iso-date-time">{{ message.date_time.isoformat }}</span>)</p>
                    <i>Переглядів: {{ message.view_by_users.all|length }}</i>
                </div>
            {% endfor %}
        </div>
        <form class="send-form" action="" id="message">
            {% csrf_token %}
            <input class="send-form-input" type="text" id="messageInput" name="message" placeholder="Повідомлення">
            <button class="send-form-emojes">
                <img src="{% static 'chat_app/images/emodji.svg' %}">
            </button>
            <button class="send-form-images">
                <img src="{% static 'chat_app/images/image.svg' %}">
            </button>
            <button class="send-form-button">
                <img src="{% static 'chat_app/images/send-message.png' %}">
            </button>
        </form>
    </div>

{% endblock %}

{% block contacts %}
    {% for contact in contacts %}
        {% if contact.profile1 != user %}
        <a class="contact" value="contactOpen" type="submit" name="button" href="{% url 'personal_chat' user.pk contact.profile1.pk %}">
            {% if contact.profile1 != user %}
                {% for avatar in avatars %}
                    {% if avatar.profile.id == contact.profile1.id  %}
                        <img src="{{ avatar.image.url }}">
                    {% endif %}
                {% endfor %}
                <p>{{ contact.profile1.user.first_name }} {{ contact.profile1.user.last_name }}</p>
            {% else %}
                {% for avatar in avatars %}
                    {% if avatar.profile.id  == contact.profile2.id  %}
                        <img src="{{ avatar.image.url }}">
                    {% endif %}
                {% endfor %}
                <p>{{ contact.profile2.user.first_name }} {{ contact.profile2.user.last_name }}</p>
            {% endif %}        
        </a>
        {% else %}
        <a class="contact" value="contactOpen" type="submit" name="button" href="{% url 'personal_chat' user.pk contact.profile2.pk %}">
            {% if contact.profile1 != user %}
                {% for avatar in avatars %}
                    {% if avatar.profile.id == contact.profile1.id  %}
                        <img src="{{ avatar.image.url }}">
                    {% endif %}
                {% endfor %}
                <p>{{ contact.profile1.user.first_name }} {{ contact.profile1.user.last_name }}</p>
            {% else %}
                {% for avatar in avatars %}
                    {% if avatar.profile.id  == contact.profile2.id  %}
                        <img src="{{ avatar.image.url }}">
                    {% endif %}
                {% endfor %}
                <p>{{ contact.profile2.user.first_name }} {{ contact.profile2.user.last_name }}</p>
            {% endif %}        
        </a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block messages %}
    <div class="right-side-menu-content">
        {% for group in messages_groups %}
            <a class="contact" value="contactOpen" href="{% url 'chat' group.pk  %}">
                <img src="{{ group.avatar.url }}">
                <div class="message-content">
                    <div>
                        <p>{{ group.name }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block groups %}
    <div class="right-side-menu-content">
        {% for group in groups %}
            <a class="contact" value="contactOpen" href="{% url 'chat' group.pk  %}">
                <img src="{{ group.avatar.url }}">
                <div class="message-content">
                    <div>
                        <p>{{ group.name }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
<!--  -->
{% block scripts %}
    <script src="{% static 'chat_app/js/chats.js' %}"></script>
{% endblock %}