{% extends 'base_chats.html' %}
{% load static %}
<!--  -->
{% block title %}
    Chat
{% endblock %}
<!--  -->
{% block links %}
    <link rel="stylesheet" href="{% static 'chat_app/css/chats.css' %}">
{% endblock %}
<!--  -->
{% block content %}
    <div class="chat-header">
        <div>
            <img src="">
            <h1 class="chat-header-name"></h1>
        </div>
        <img src="{% static 'chat_app/images/Dots.svg' %}">
    </div>
    <div class="chat-content">
        <input type="hidden" id="groupPk" value="1">
        <div id="messages">
            {% for message in messages_history %}
                <div>
                    <p><b>{{ message.author }}: </b>{{ message.content }} (<span class="iso-date-time">{{ message.date_time.isoformat }}</span>)</p>
                    <i>Переглядів: {{ message.view_by_users.all|length }}</i>
                </div>
            {% endfor %}
        </div>
        <form class="send-form" action="" id="message">
            {% csrf_token %}
            <input class="send-form-input" type="text" id="messageInput" name="message" placeholder="Повідомлення">
            <button class="send-form-button">
                <img src="{% static 'chat_app/images/send-message.png' %}">
            </button>
        </form>
    </div>

{% endblock %}

{% block messages %}
    <div class="right-side-menu-content">
        {% for contact in request.user.friends.all %}
            <a class="contact" value="contactOpen" type="submit" name="button" href="">
                <img src="{{ contact.avatar.url }}" alt="{{ contact.first_name }} {{ contact.last_name }}">
                <div class="message-content">
                    <div>
                        <p>{{ contact.first_name }} {{ contact.last_name }}</p>
                        <h2 class="message-time">1939</h2>
                    </div>
                    <h2 class="message-text">Привіт пупсик</h2>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
    <div class="right-side-menu-content">
        {% for contact in request.user.friends.all %}
            <a class="contact" value="contactOpen" type="submit" name="button" href="">
                <img src="{{ contact.avatar.url }}" alt="{{ contact.first_name }} {{ contact.last_name }}">
                <div class="message-content">
                    <div>
                        <p>{{ contact.first_name }} {{ contact.last_name }}</p>
                        <h2 class="message-time">1939</h2>
                    </div>
                    <h2 class="message-text">Привіт пупсик</h2>
                </div>
            </a>
        {% endfor %}
    </div>
{% block groups %}

{% endblock %}
<!--  -->
{% block scripts %}
    <script src="{% static 'chat_app/js/chats.js' %}"></script>
{% endblock %}