{% load static %}
<div class="bg-popup"></div>
<form method="post" class="form-popup" enctype="multipart/form-data" action="{% url 'my_posts' %}">
    {% csrf_token %}
    <a href="">
        <img src="{% static 'my_post_app/images/cancel.png' %}">
    </a>
    <h1>Створення публікації</h1>
    <div class="inputs-div">
        <p>{{ form.title.label }}</p>
        {{ form.title }}
    </div>
    <div class="inputs-div">
        <p>{{ form.topic.label }}</p>
        {{ form.topic }}
    </div>
    <div class="input-tags">
        <div class="tagsdiv" id="tagsContainer">
            {% for tag in post_tags %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
        </div>
        <button type="button" id="addTagBtn">
            <img src="{% static 'my_post_app/images/plus.png' %}">
        </button>
        <input type="hidden" name="tags" id="tags" value="">
    </div>
    <div class="inputs-div">
        {{ form.text }}
    </div>
    <div class="inputs-div">
        <p>{{ form.links.label }}</p>
        {{ form.links }}
    </div>
    <div class="modal-images">
        {% if images %}
            {% for image in images %}
                <div class="images-div" data-image-id="{{ image.id }}">
                    <img src="{{ image.image.url }}" class="preview-img">
                    <button type="button" class="preview-delete-img">
                        <img src="{% static 'my_post_app/images/delete.png' %}" alt="">
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="submit-div">
        <div class="images-div">
            <label for="images">
                <img src="{% static 'my_post_app/images/image.svg' %}">
            </label>
            <input type="hidden" name="deleted_images" id="deletedImagesInput" value="">
            <input type="file" name="images" id="images" class="images" multiple>
        </div>
        {% if post_modal == "create" %}
            <button class="create-post" type="submit" name="button" value="submitFormCreate">
                Публікація
                <img src="{% static 'my_post_app/images/create-post.png' %}">
            </button>
        {% else %}
            <input type="hidden" name="post_pk" value="{{ post_pk }}">
            <button class="edit-post" type="submit" name="button" value="submitFormEdit">
                Публікація
                <img src="{% static 'my_post_app/images/create-post.png' %}">
            </button>
        {% endif %}
    </div>
</form>