.right-side-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.message-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message-content div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.3vw;
}

.message-time {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 0.67vw;
    color: #81818E;
}

.message-text {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 0.86vw;
    color: #060A1D;
}

.chat-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
}

.send-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 1.25vw;
    width: 100%;
}

.send-form-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2.08vw;
    height: 2.08vw;
    background: #583B53;
    border: 0.052vw solid #583B53;
    border-radius: 9.90vw;
    cursor: pointer;
}

.send-form-button img {
    width: 0.96vw;
    height: 0.96vw;
}

.send-form-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 0.31vw;
    width: 18.33vw;
    height: 2.19vw;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 0.83vw;
    padding: 10px 16px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #CDCED2;
    border-radius: 0.31vw;
}

.send-form-input::placeholder {
    color: #81818E;
}

.chat-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0.52vw;
    gap: 4.79vw;
    width: 100%;
    height: 3.02vw;
    border-bottom: 0.052vw solid #CDCED2;
}

.send-form-emojes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2.08vw;
    height: 2.08vw;
    background: #FFFFFF;
    border: 0.052vw solid #583B53;
    border-radius: 9.90vw;
}

.send-form-emojes img {
    width: 0.96vw;
    height: 0.96vw;
}

.send-form-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2.08vw;
    height: 2.08vw;
    background: #FFFFFF;
    border: 0.052vw solid #583B53;
    border-radius: 9.90vw;
}

.send-form-images img {
    width: 0.96vw;
    height: 0.96vw;
}

.chat-header-name {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25vw;
    height: 100%;
    text-align: center;
    justify-content: start;
    color: #060A1D;
    text-wrap: none;
}

.chat-header-image{
    display: flex;
    position: relative;
    width: 2.4vw;
    height: 2.4vw;
    overflow: hidden;
    border-radius: 2.4vw;
}

.chat-header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 1.25vw;
}

.chat-header-arrow {
    width: 1.04vw;
    height: 1.04vw;
}

.chat-header-arrow-button { 
    border: none;
    background: none;
    cursor: pointer;
}