{% extends 'base_auth_register.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}


{% block title %}
    Home
{% endblock %}


{% block content %}
    <div class="type-form">
        <span>Реєстрація</span>
        <a href="{% url 'login' %}">Авторизація</a>
    </div>

    <h2>Приєднуйся до World IT</h2>

    <div class="reg-inputs">
        <div class="email form-inputs">
            <label for="email">Електронна пошта</label>
            {{ form.email }}
        </div>
        <div class="password form-inputs">
            <label for="password">Напиши пароль</label>
            {{ form.password }}
            <button class="password-eye"><img src="{% static 'images/eye.svg' %}" class="eye"></button>
        </div>
        <div class="password-confirm form-inputs">
            <label for="password-confirm">Повтори пароль</label>
            {{ form.email }}
            <button class="password-confirm-eye"><img src="{% static 'images/eye.svg' %}" class="eye"></button>
        </div>
    </div>

    <button type="submit">
        Створити аккаунт
    </button>
{% endblock %}