.post-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CDCED2;
    border-radius: 10px;
}

.post-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 20px;
    border: 0;
    border-width: 0;
    border-style: none;
    white-space: normal;
    overflow-wrap: break-word;
    resize: vertical;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #81818E;
}


.post-other {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    margin: 0 auto;
    width: 100%;
}

.post-send {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    height: 40px;
    background: #583B53;
    border: none;
    border-radius: 1234px;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.post-smile {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #583B53;
    border-radius: 190px;
    background: none;
    cursor: pointer;
}
/*  */
.bg-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    z-index: 5;
}
.form-popup{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 775px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 44px;
    background-color: white;
    border-radius: 20px;
    z-index: 6;
}

.form-popup h1 {
    font-family: GT Walsheim Pro, sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: -1%;
}

.form-popup a {
    position: absolute;
    right: 35px;
    top: 20px;
}

.inputs-div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-popup div input {
    width: 345px;
    height: 42px;
    padding: 16px 10px 16px 10px;
    font-family: GT Walsheim Pro, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.7%;
    border: #81818D 1px solid;
    border-radius: 10px;
}

.form-popup div textarea{
    resize: none;
    width: 100%;
    height: 125px;
    padding: 16px;
    font-family: GT Walsheim Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    border: #81818D 1px solid;
    border-radius: 10px;
}

.submit-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.submit-div div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: #543C52 1px solid ;
    border-radius: 190px;
    cursor: pointer;
}

.submit-div div input {
    width: 100%;
    height: 100%;
    border-radius: 190px;
    border: none;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}


.submit-div button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    font-family: GT Walsheim Pro;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
    background-color: #543C52;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 45px;
    border: none;
}

/*  */
.post-random {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CDCED2;
    border-radius: 10px;
}

.random-post-profile {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    height: 89px;
    background: #FFFFFF;
    border-bottom: 1px solid #CDCED2;
    padding: 20px;
}

.random-post-profile-pr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 100%;
    height: 49px;
}

.random-post-profile-pr div {
    position: absolute;
    left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    height: 46px;
}

.random-post-profile-pr div img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.random-post-profile-pr div h1 {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #060A1D;
}

.podpis {
    position: absolute;
    right: 45px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 220px;
    height: 49px;
    border-radius: 6px;
}

.random-post-profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 16px 20px;
    gap: 16px;
    width: 100%;
    height: auto;
}

.random-post-profile-text {
    position: relative;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #060A1D;
}
.random-post-profile-text p {
    width: 100%;
}
.tags {
    width: 638px;
    height: 54px;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #583B53;
}

.random-post-profile-images {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 16px; 
    width: 100%; 
    height: auto; 
    flex-wrap: wrap;
}

.random-post-profile-images img {
    width: fit-content;
    max-height: 300px;
}

.random-post-profile-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 100%;
    height: 20px;
}

.random-post-profile-bottom div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: fit-content;
    height: 20px;
}

.random-post-profile-bottom div p {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #060A1D;
}

.dots {
    position: absolute;
    right: 0px;
    top: 15px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}