{% extends 'base_friends_settings.html' %} 
{% load static %}

{% block title %}
    All friends
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'friends_app/css/friends.css' %}">
{% endblock %}

{% block navlinks %}
    <a href="{% url 'friends' %}" class="not-a">Головна</a>
    <a href="{% url 'invites' %}" class="not-a">Запити</a>
    <a href="{% url 'recommendations' %}" class="not-a">Рекомендації</a>
    <a href="{% url 'all_friends' %}" class="selected-a">Всі друзі</a>
{% endblock %}

{% block content %}
    <div class="request">
        <div class="textes">
            <p class="text-request">Всі друзі</p>
        </div>
        
        <div class="friends-requests">
            {% for user in friends %}
                <div class="friend-request">
                    <div class="friend-request-profile">
                        <img src="{{ user.avatar.url }}">
                        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                        <h3>{{ user.tag_name }}</h3>
                    </div>
                    <form method="post" class="accept-cancel-btns">
                        {% csrf_token %}
                        <button class="accept" name="button" value="send-{{ user.pk }}">Повідомлення</button>
                        <button class="cancel" name="button" value="delete-{{ user.pk }}">Видалити</button>
                    </form>
                </div>
            {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'friends_app/js/friends.js' %}"></script>
{% endblock %}