{% extends 'base.html' %} 
{% load static %}

{% block title %}
    friends
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'friends_app/css/friends.css' %}">
{% endblock %}

{% block content %}
    <div class="choose">
        <p class="On">Головна</p>
        <p class="Not">Запити</p>
        <p class="Not">Рекомендації</p>
        <p class="Not">Всі друзі</p>
    </div>
    <div class="request">
        <div class="textes">
            <p class="text-request">Запити</p>
            <p class="text-watch">Дивитись всі</p>
        </div>
        
        <div class="friends-requests">
            <div class="friend-request">
                <div class="friend-request-profile">
                    <img src="{% static 'friends_app/images/ranalda.png' %}">
                    <h1>Yehor Aung</h1>
                    <h3>@theilli</h3>
                </div>
                <div class="accept-cancel-btns">
                    <button class="accept">Пітвердити</button>
                    <button class="cancel">Видалити</button>
                </div>
            </div>
            <div class="friend-request">
                <div class="friend-request-profile">
                    <img src="{% static 'friends_app/images/ranalda.png' %}">
                    <h1>Yehor Aung</h1>
                    <h3>@theilli</h3>
                </div>
                <div class="accept-cancel-btns">
                    <button class="accept">Пітвердити</button>
                    <button class="cancel">Видалити</button>
                </div>
            </div>
            <div class="friend-request">
                <div class="friend-request-profile">
                    <img src="{% static 'friends_app/images/ranalda.png' %}">
                    <h1>Yehor Aung</h1>
                    <h3>@theilli</h3>
                </div>
                <div class="accept-cancel-btns">
                    <button class="accept">Пітвердити</button>
                    <button class="cancel">Видалити</button>
                </div>
            </div>
        </div>
        <!--<h2 class="watch-all">Дивитись всі</h2>-->
        
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'friends_app/js/friends.js' %}"></script>
{% endblock %}