{% extends 'base_friends_settings.html' %} 
{% load static %}

{% block title %}
    Friends
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'friends_app/css/friends.css' %}">
{% endblock %}

{% block navlinks %}
    <a href="{% url 'friends' %}" class="selected-a">Головна</a>
    <a href="{% url 'invites' %}" class="not-a">Запити</a>
    <a href="{% url 'recommendations' %}" class="not-a">Рекомендації</a>
    <a href="{% url 'all_friends' %}" class="not-a">Всі друзі</a>
{% endblock %}

{% block content %}
    <div class="request">
        <div class="textes">
            <p class="text-request">Запити</p>
            <a href="{% url 'invites' %}" class="text-watch">Дивитись всі</a>
        </div>
        
        <div class="friends-requests">
            {% for friendrequest in friends_requests %}
                <div class="friend-request">
                    <a href="{% url 'view_user' friendrequest.pk %}">
                        <div class="friend-request-profile">
                            {% if friendrequest.profile1 != user %}
                                {% for avatar in avatars %}
                                    {% if avatar.profile.id == friendrequest.profile1.id  %}
                                        <img src="{{ avatar.image.url }}">
                                        <p>avatar.image.url</p>
                                    {% endif %}
                                {% endfor %}
                                <h1>{{ friendrequest.profile1.user.first_name }} {{ friendrequest.profile1.user.last_name }}</h1>
                                <h3>{{ friendrequest.profile1.tag_name }}</h3>
                            {% else %}
                                {% for avatar in avatars %}
                                    {% if avatar.profile.id  == friendrequest.profile2.id  %}
                                        <img src="{{ avatar.image.url }}">
                                    {% endif %}
                                {% endfor %}
                                <h1>{{ friendrequest.profile2.user.first_name }} {{ friendrequest.profile2.user.last_name }}</h1>
                                <h3>{{ friendrequest.profile1.tag_name }}</h3>
                            {% endif %}
                        </div>
                    </a>
                    <form method="post" class="accept-cancel-btns">
                        {% csrf_token %}
                        <button class="accept" name="button" value="accept-{{ friendrequest.pk }}">Пітвердити</button>
                        <button class="cancel" name="button" value="deleterequest-{{ friendrequest.pk }}">Видалити</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="request">
        <div class="textes">
            <p class="text-request">Рекомендації</p>
            <a href="{% url 'recommendations' %}" class="text-watch">Дивитись всі</a>
        </div>
        
        <div class="friends-requests">
            {% for user in recommendations %}
                <div class="friend-request">
                    <a href="{% url 'view_user' user.pk %}" style="display: block; text-decoration: none; color: inherit;">
                        <div class="friend-request-profile">
                            {% for avatar in avatars %}
                                {% if avatar.profile == user %}
                                    <img src="{{ avatar.image.url }}">
                                {% endif %}
                            {% endfor %}
                            
                            <h1>{{ user.user.first_name }} {{ user.user.last_name }}</h1>
                            <h3>{{ user.tag_name }}</h3>
                        </div>
                    </a>
                    <form method="post" class="accept-cancel-btns">
                        {% csrf_token %}
                        <button class="accept" name="button" value="add-{{ user.pk }}">Додати</button>
                        <button class="cancel">Видалити</button>
                    </form>
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="request">
        <div class="textes">
            <p class="text-request">Всі друзі</p>
            <a href="{% url 'all_friends' %}" class="text-watch">Дивитись всі</a>
        </div>
        
        <div class="friends-requests">
            
            {% for friendrequest in friends %}
                <div class="friend-request">
                    <a href="{% url 'view_user' friendrequest.pk %}">
                        <div class="friend-request-profile">
                            {% if friendrequest.profile1 != user %}
                                {% for avatar in avatars %}
                                    {% if avatar.profile.id == friendrequest.profile1.id  %}
                                        <img src="{{ avatar.image.url }}">
                                        <p>avatar.image.url</p>
                                    {% endif %}
                                {% endfor %}
                                <h1>{{ friendrequest.profile1.user.first_name }} {{ friendrequest.profile1.user.last_name }}</h1>
                                <h3>{{ friendrequest.profile1.tag_name }}</h3>
                            {% else %}
                                {% for avatar in avatars %}
                                    {% if avatar.profile.id  == friendrequest.profile2.id  %}
                                        <img src="{{ avatar.image.url }}">
                                    {% endif %}
                                {% endfor %}
                                <h1>{{ friendrequest.profile2.user.first_name }} {{ friendrequest.profile2.user.last_name }}</h1>
                                <h3>{{ friendrequest.profile1.tag_name }}</h3>
                            {% endif %}
                        </div>
                    </a>
                    <form method="post" class="accept-cancel-btns">
                        {% csrf_token %}
                        <button class="accept" name="button" value="send-{{ friendrequest.pk }}">Повідомлення</button>
                        <button class="cancel" name="button" value="deletefriend-{{ friendrequest.pk }}">Видалити</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'friends_app/js/friends.js' %}"></script>
{% endblock %}