{% extends 'base_friends_settings.html' %} 
{% load static %}

{% block title %}
    Invites
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'friends_app/css/friends.css' %}">
{% endblock %}

{% block navlinks %}
    <a href="{% url 'friends' %}" class="not-a">Головна</a>
    <a href="{% url 'invites' %}" class="selected-a">Запити</a>
    <a href="{% url 'recommendations' %}" class="not-a">Рекомендації</a>
    <a href="{% url 'all_friends' %}" class="not-a">Всі друзі</a>
{% endblock %}

{% block content %}
    <div class="request">
        <div class="textes">
            <p class="text-request">Запити</p>
            <p class="text-watch">Дивитись всі</p>
        </div>
        
        <div class="friends-requests">
            <div class="friend-request">
                <div class="friend-request-profile">
                    <img src="{% static 'friends_app/images/ranalda.png' %}">
                    <h1>Ann</h1>
                    <h3>@theilli</h3>
                </div>
                <div class="accept-cancel-btns">
                    <button class="accept">Пітвердити</button>
                    <button class="cancel">Видалити</button>
                </div>
            </div>
            <div class="friend-request">
                <div class="friend-request-profile">
                    <img src="{% static 'friends_app/images/ranalda.png' %}">
                    <h1>Le Sya</h1>
                    <h3>@theilli</h3>
                </div>
                <div class="accept-cancel-btns">
                    <button class="accept">Пітвердити</button>
                    <button class="cancel">Видалити</button>
                </div>
            </div>
            <div class="friend-request">
                <div class="friend-request-profile">
                    <img src="{% static 'friends_app/images/ranalda.png' %}">
                    <h1>Yehor Aung</h1>
                    <h3>@theilli</h3>
                </div>
                <div class="accept-cancel-btns">
                    <button class="accept">Пітвердити</button>
                    <button class="cancel">Видалити</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'friends_app/js/friends.js' %}"></script>
{% endblock %}