{% extends 'base_friends_settings.html' %} 
{% load static %}

{% block title %}
    Recommendations
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'friends_app/css/friends.css' %}">
{% endblock %}

{% block navlinks %}
    <a href="{% url 'friends' %}" class="not-a">Головна</a>
    <a href="{% url 'invites' %}" class="not-a">Запити</a>
    <a href="{% url 'recommendations' %}" class="selected-a">Рекомендації</a>
    <a href="{% url 'all_friends' %}" class="not-a">Всі друзі</a>
{% endblock %}

{% block content %}
    <div class="request">
        <div class="textes">
            <p class="text-request">Рекомендації</p>
        </div>
        
        <div class="friends-requests">
            {% for user in recommendations %}
                <div class="friend-request">
                    <a href="{% url 'view_user' user.pk %}" style="display: block; text-decoration: none; color: inherit;">
                        <div class="friend-request-profile">
                            <img src="{{ user.avatar.url }}">
                            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                            <h3>{{ user.tag_name }}</h3>
                        </div>
                    </a>
                    <form method="post" class="accept-cancel-btns">
                        {% csrf_token %}
                        <button class="accept" name="button" value="add-{{ user.pk }}">Додати</button>
                        <button class="cancel">Видалити</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'friends_app/js/friends.js' %}"></script>
{% endblock %}