{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base_chats.css' %}">
        {% block links %}
            
        {% endblock %}
    </head>
    <body>
        <header>
            <img class="logo" src="{% static 'images/WIA.svg' %}">
            <nav>
                {% if page == "home" %}
                    <a href="/" class="selected">
                        <img src="{% static 'images/home.svg' %}">
                        <p>Головна</p>
                    </a>
                {% else %}
                    <a href="/">
                        <img src="{% static 'images/home.svg' %}">
                        <p>Головна</p>
                    </a>
                {% endif %}

                {% if page == "my_posts" %}
                    <a href="{% url 'my_posts' %}" class="selected">
                        <img src="{% static 'images/published.svg' %}">
                        <p>Мої публікації</p>
                    </a>
                {% else %}    
                    <a href="{% url 'my_posts' %}">
                        <img src="{% static 'images/published.svg' %}">
                        <p>Мої публікації</p>
                    </a>
                {% endif %}
                
                {% if page == "friends" %}
                    <a href="{% url 'friends' %}" class = "selected">
                        <img src="{% static 'images/friends.svg' %}">
                        <p>Друзі</p>
                    </a>
                {% else %}
                    <a href="{% url 'friends' %}">
                        <img src="{% static 'images/friends.svg' %}">
                        <p>Друзі</p>
                    </a>
                {% endif %}

                {% if page == "chats" %}
                    <a href="{% url 'all_chats' %}" class = "selected">
                        <img src="{% static 'images/chats.svg' %}">
                        <p>Чати</p>
                    </a>
                {% else %}
                    <a href="{% url 'all_chats' %}">
                        <img src="{% static 'images/chats.svg' %}">
                        <p>Чати</p>
                    </a>
                {% endif %}
                
                {% if page == "settings" %}
                    <a href="{% url 'settings' %}" class = "selected">
                        <img src="{% static 'images/settings.svg' %}">
                        <p>Налаштування</p>
                    </a>
                {% else %}
                    <a href="{% url 'settings' %}">
                        <img src="{% static 'images/settings.svg' %}">
                        <p>Налаштування</p>
                    </a>
                {% endif %}
                
                <form method="post" action="{% url 'logout' %}" class="logout">
                    {% csrf_token %}
                    <button type="submit">
                        <img src="{% static 'images/exit.svg' %}">
                        <p>Вихід</p>
                    </button>
                </form>
            </nav>
        </header>
        <div class="chat-app">
            <div class="all-contacts-create-group-chat">
                <form class="create-group-chat" method="post">
                    {% csrf_token %}
                    <button>
                        <img src="{% static 'images/plus.png' %}">
                        <p>Створити груповий чат</p>
                    </button>
                </form>
                <div class="all-contacts">
                    <div class="header-contacts">
                        <img src="{% static 'images/people.png' %}">
                        <h2>
                            Контакти
                        </h2>
                    </div>
                    <div class="search">
                        <button type="submit">
                            <img src="{% static 'images/search.png' %}">
                        </button>
                        <input type="text" placeholder="Пошук контактів">
                    </div>
                    <div class="contacts-list">
                        {% for contact in request.user.friends.all %}
                            <a class="contact" value="contactOpen" type="submit" name="button" href="">
                                <img src="{{ contact.avatar.url }}" alt="{{ contact.first_name }} {{ contact.last_name }}">
                                <p>{{ contact.first_name }} {{ contact.last_name }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if chat %}
                <div class="chat-with-users-chat">
                    {% block content %}
                    
                    {% endblock %}
                </div>
            {% else %}
                <div class="chat-with-users">
                    <p class="no-chat">Почніть нове спілкування</p>
                    <p class="no-chat-buttom">Оберіть контакт зі списку ліворуч<br> або створіть групу, щоб почати спілкування</p>
                </div>
            {% endif %}
            <div class="messages-and-groups">
                <div class="messages-and-groups-inside">
                    <div class="messages-groups-header">
                        <div>
                            <img src="{% static 'images/chats.svg' %}">
                            <p>Повідомлення</p>
                        </div>
                        <a class="messages-and-groups-link" href="">Дивитись всі</a>
                    </div>
                    {% block messages %}

                    {% endblock %}
                </div>
                <div class="messages-and-groups-inside">
                    <div class="messages-groups-header">
                        <div>
                            <img src="{% static 'images/chats.svg' %}">
                            <p>Групові чати</p>
                        </div>
                        <a class="messages-and-groups-link" href="">Дивитись всі</a>
                    </div>
                    {% block groups %}

                    {% endblock %}
                </div>
            </div>
        </div>
        
        {% block scripts %}
            
        {% endblock %}
    </body>
</html>