{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
        <link rel="stylesheet" href="{% static 'css/base_auth_register.css' %} ">
    </head>
    <body>
        <header>
            <img class="logo-image" src="{% static 'images/WIA.svg' %}">
        </header>
            <form method="post">
                {% csrf_token %}
                
                {% block content %}
                
                {% endblock %}        
            </form>
            <img src="{% static 'images/laptop_phone.png' %}" class="laptop-phone">
        
        
        {% block script %}
            
        {% endblock %}

    </body>
</html>