
{% extends 'base_friends_settings.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'settings_app/css/albums.css' %}">
{% endblock %}

{% block title %}
    Albums
{% endblock %}

{% block navlinks %}
    <a href="{% url 'settings' %}" class="not-a">Особиста інформація</a>
    <a href="" class="selected-a">Альбоми</a>
{% endblock %}

{% block content %}
    <div class="my-photos">
        <div class="text-add-photo">
            <h2>Мої фото</h2>
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="button" value="photo_create_1">
                    <img src="{% static 'settings_app/images/img.png' %}">
                    <p>Додати фото</p>
                </button>
            </form>
        </div>
        <div class="photos">
            {% for image in images %}
                <div class="photo">
                    <img src="{{ image.image.url }}">
                    <a href="{% url 'delete_image_post' image.pk %}" id="delete" type="button">
                        <img src="{% static 'settings_app/images/delete.png' %}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="my-albums">
        {% if album %}
            <button id="dotsButton" class="dots">
                <img class="dots-img" src="{% static 'images/Dots.svg' %}">
            </button>
            <div class="modal-del-edit" id="modal-del-edit">
                <button value="{% url 'album_private' album.pk %}" class="privateButton" id="privateButton">
                    <img src="{% static 'settings_app/images/eye black.png' %}" alt="delete">
                    {% if album.publish %}
                        <p id="private">Цей альбом бачите тільки ви</p>
                    {% else %}
                        <p id="private">Зробити публічним</p>
                    {% endif %}
                </button>
                <button value="{% url 'edit_album' album.pk %}" class="editButton" id="editButton">
                    <img src="{% static 'settings_app/images/edit.png' %}" alt="delete">
                    <p>Редагувати альбом</p>
                </button>
                <div class="line-beetwen-buttons"></div>
                <a href="{% url 'delete_album' album.pk %}" class="deleteButton" id="deleteButton">
                    <img src="{% static 'settings_app/images/delete.png' %}" alt="edit">
                    <p>Видалити Альбом</p>  
                </a>
            </div>
            <h2 class="title">{{ album.title }}</h2>
            <div class="subtitle-date">
                <h3 class="subtitle">{{ album.subtitle }}</h3>
                <h4 class="date">{{ album.date }}</h4>
            </div>
            <p class="photos-p">Фотографії</p>
            <div class="photos-album">
                <input type="hidden" id="album-id" value="{{ album.id }}">
                <div class="image-grid" id="image-preview-grid">
                    {% for img in album_images %}
                        <div class="image-card">
                            <img src="{{ img.image.url }}">
                            <a href="{% url 'delete_image' img.pk %}">
                                <img src="{% static 'settings_app/images/delete.png' %}">
                            </a>
                        </div>
                    {% endfor %}
                    <label class="upload-placeholder">
                        <img src="{% static 'settings_app/images/plus.png' %}">
                        <input type="file" id="image-input" multiple accept="image/*">
                    </label>
                </div>
            </div>
        {% else %}
            <div class="text-add-album">
                <h2>Немає жодного альбому</h2>
                <form method="post">
                    {% csrf_token %}
                    <button name="button" value="album_create_1" class="create-album-button">
                        <img src="{% static 'settings_app/images/plus.png' %}">
                        <p>Створити альбом</p>
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block popups %}
    {% if popup %}
        <div class="bg-form"></div>
        <form class="form-create-album" method="post">
            {% csrf_token %}
            <a class="x" href="">
                <img src="{% static 'settings_app/images/cancel.png' %}">
            </a>
            <h1>Створити альбом</h1>
            <div class="inputs">
                <div class="label-input">
                    <label for="title">Назва альбому</label>
                    <input type="text" name="title">
                </div>
                <div class="label-input">
                    <label for="subtitle">Тема альбому</label>
                    <input type="text" name="subtitle">
                </div>
                <div class="label-input">
                    <label for="date">Рік альбому</label>
                    <input type="date" name="date">
                </div>
            </div>
            <div class="btns">
                <a class="cancel" href="">
                    Скасувати
                </a>
                <button type="submit" name="button" value="submitAlbum">
                    Зберегти
                </button>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'settings_app/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'settings_app/js/album.js' %}"></script>
    <script src="{% static 'settings_app/js/changePrivate.js' %}"></script>
    <script src="{% static 'settings_app/js/edit_album.js' %}"></script>
    <script src="{% static 'settings_app/js/modal_window_open_close.js' %}"></script>
{% endblock %}