{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'settings_app/css/settings.css' %}">
{% endblock %}

{% block title %}
    
{% endblock %}

{% block content %}
    <div class="content">
        <div class="chose-edit-page">
            <a href="" class="settings">Особиста інформація</a>
            <a href="" class="albomu">Альбоми</a>
        </div>
        <div class="profile-edit">
            <div class="profile-card">
                <div class="profile-card-edit">
                    <div>
                        <p class="profile-card-text">Картка профілю</p>
                    </div>
                    <button class="profile-card-button">
                        <img src="" alt="">
                        <p>Редагувати інформацію</p>
                    </button>
                </div>
                <div class="profile-card-me">
                    <img class="profile-card-img" src="" alt="">
                    <div class="profile-card-info">
                        <h1>Lina Li</h1>
                        <p>@thelili</p>
                    </div>
                </div>
            </div>
            <div class="profile-info">
                <div class="profile-card-edit">
                    <div>
                        <p class="profile-card-text">Особиста інформація</p>
                    </div>
                    <button class="profile-card-button">
                        <img src="" alt="">
                        <p>Редагувати інформацію</p>
                    </button>
                </div>
                <div class="profile-info-edit-settings">
                    <div>
                        <p>Ім’я</p>
                        <div>
                            <input type="text">
                            <button>
                                <img src="" alt="">
                            </button>
                        </div>
                    </div>

                    <div>
                        <p>Прізвище</p>
                        <div>
                            <input type="text">
                            <button>
                                <img src="" alt="">
                            </button>
                        </div>
                    </div>

                    <div>
                        <p>Дата народження</p>
                        <div>
                            <input type="text">
                            <button>
                                <img src="" alt="">
                            </button>
                        </div>
                    </div>

                    <div>
                        <p>Електронна адреса</p>
                        <div>
                            <input type="text">
                            <button>
                                <img src="" alt="">
                            </button>
                        </div>
                    </div>

                    <div>
                        <p>Пароль</p>
                        <div>
                            <input type="password">
                            <button>
                                <img src="" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="profile-pidpus">
                <div class="profile-card-edit">
                    <div>
                        <p class="profile-card-text">Варіанти підпису</p>
                    </div>
                    <button class="profile-card-button">
                        <img src="" alt="">
                        <p>Редагувати інформацію</p>
                    </button>
                </div>
                <div class="profile-pidpus-edit-settings">
                    <div>
                        <div class="profile-pidpus-name">
                            <div class="profile-pidpus-name-check">
                                <button>
                                    <img src="" alt="">
                                </button>
                                <p>Ім’я та прізвище</p>
                            </div>
                            <h1>Lina Li</h1>
                        </div>
                        <div class="profile-pidpus-pidpus">
                            <div class="profile-pidpus-pidpus-check">
                                <button>
                                    <img src="" alt="">
                                </button>
                                <p>Мій електронний підпис</p>
                            </div>
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/settings.js' %}"></script>
{% endblock %}