{% extends 'base_friends_settings.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'settings_app/css/settings.css' %}">
{% endblock %}

{% block title %}
    Settings
{% endblock %}

{% block navlinks %}
    <a href="{% url 'settings' %}" class="selected-a">Особиста інформація</a>
    <a href="{% url 'albums' %}" class="not-a">Альбоми</a>
{% endblock %}

{% block content %}
        <div class="profile-edit">
            <div class="profile-card">
                <div class="profile-card-edit">
                    <div>
                        <p class="profile-card-text">Картка профілю</p>
                    </div>
                    <button class="profile-card-button">
                        <img src="{% static 'settings_app/images/edit.svg' %}">
                        <p>Редагувати інформацію</p>
                    </button>
                </div>
                <div class="profile-card-me">
                    <img class="profile-card-img" src="{% static 'images/ranalda.jpg' %}">
                    <div class="profile-card-info">
                        <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                        <p>{{ tag_name }}</p>
                    </div>
                </div>
            </div>
            <form method="post" class="profile-info">
                {% csrf_token %}
                <div class="profile-card-edit">
                    <div>
                        <p class="profile-card-text">Особиста інформація</p>
                    </div>
                    <button type="button" id="edit-save-btn" value="edit" class="profile-card-button">
                        <img src="{% static 'settings_app/images/edit.svg' %}">
                        <p id="edit-save-p">Редагувати інформацію</p>
                    </button>
                </div>
                <div class="profile-info-edit-settings">
                    <div class="notedit"></div>
                    <div class="profile-name-edit input-edit">
                        <p>Ім’я</p>
                        <div>
                            <input type="text" name="name" value="{{ request.user.first_name }}">
                            <button type="button">
                                <img src="{% static 'settings_app/images/eye (1).svg' %}">
                            </button>
                        </div>
                    </div>

                    <div class="profile-surname-edit input-edit">
                        <p>Прізвище</p>
                        <div>
                            <input type="text" name="surname" value="{{ request.user.last_name }}">
                            <button type="button">
                               <img src="{% static 'settings_app/images/eye (1).svg' %}">
                            </button>
                        </div>
                    </div>

                    <div class="profile-birthday-edit input-edit">
                        <p>Дата народження</p>
                        <div>
                            <input type="date" name="birthday" min="2018-01-01" value="{{ birthday }}">
                            <button type="button">
                                <img src="{% static 'settings_app/images/eye.svg' %}">
                            </button>
                        </div>
                    </div>

                    <div class="profile-email-edit input-edit">
                        <p>Електронна адреса</p>
                        <div>
                            <input type="email" name="email" value="{{ request.user.email }}">
                            <button type="button">
                                <img src="{% static 'settings_app/images/eye (1).svg' %}">
                            </button>
                        </div>
                    </div>

                    <div class="profile-password-edit input-edit">
                        <p>Пароль</p>
                        <div>
                            <input type="password"  value="{{ request.user.password }}">
                            <button type="button">
                                <img src="{% static 'settings_app/images/eye.svg' %}">
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="profile-pidpus">
                <div class="profile-card-edit">
                    <div>
                        <p class="profile-card-text">Варіанти підпису</p>
                    </div>
                    <button class="profile-card-button">
                        <img src="{% static 'settings_app/images/edit.svg' %}">
                        <p>Редагувати інформацію</p>
                    </button>
                </div>
                <div class="profile-pidpus-edit-settings">
                    <div>
                        <div class="profile-pidpus-name">
                            <div class="profile-pidpus-name-check">
                                <button type="checkbox"></button>
                                <p>Ім’я та прізвище</p>
                            </div>
                            <h1>Lina Li</h1>
                        </div>
                        <div class="profile-pidpus-pidpus">
                            <div class="profile-pidpus-pidpus-check">
                                <button type="checkbox"></button>
                                <p>Мій електронний підпис</p>
                            </div>
                            <img src="{% static 'settings_app/images/podpis.svg' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'settings_app/js/settings.js' %}"></script>
{% endblock %}